nav.navbar-brand{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 30px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

nav.navbar{
    background-color:  #345b89;
}

img{
    width: 100px;
    height: 100px;
    margin: 0px;
}

a.action.nav-link{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 30px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#navbarDropdown1{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 30px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#navbarDropdown2{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 30px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.btn{
    text-justify: center;
    white-space: pre;
    color: white;
    margin-top: 10px;
    justify-items: center;
    /*margin-left: 10px;*/
    margin-right: 10px;
}
.navbar-collapse{
    margin-right: 100px;
    margin-left: 100px;
}